/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Lobster&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'heebo', Arial, Helvetica, sans-serif;
    color: rgb(48, 54, 54);
}

.landing {
    min-height: 100vh;
    /* background-image: url('https://images.unsplash.com/photo-1441323263989-281bc2f5b68c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1653&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1539800644988-3424dd648c2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    top: 0;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 5vh;
}

#nav-logo {
    font-size: 2rem;
    font-family: 'lobster', Arial, Helvetica, sans-serif;
    color: rgb(192, 192, 192);
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(37, 56, 56);
}

.nav-links a:hover {
    color: rgb(82, 114, 114);
}

.landing button {
    padding: 10px 20px;
    background: none;
    border: 1px solid rgb(48, 54, 54);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

.landing button:hover {
    color: rgb(201, 201, 201);
    background: rgb(59, 58, 58);
    transition-duration: 250ms;
}

main {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-75%, -30%);
    text-align: center;
}

#main-logo {
    font-size: 4rem;
    font-family: 'Racing Sans One', cursive;
    text-transform: uppercase;
}

.main-text {
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: lighter;
}
